body, html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    color: whitesmoke;
}

.container {
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url('background2.jpg');
}
.listBox {
    border: 6px solid whitesmoke;
    border-radius: 5px;
    border-style: dashed;
    height: 400px;
    width: 300px;
    margin: 0px 40px 0px 40px;
    
}

.list {
    height: 70px;
    width: 250px;
    background-color: #CE4257;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list:hover {
    cursor: pointer;
}

.list-drageffect {
    background-color: green;
}

.references {
    text-align: center;
}
a {

    color: whitesmoke;
}

.button { 
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    color: whitesmoke;
    height: 70px;
    width: 250px;
    background-color: #CE4257;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}